html {
  background-color: #414141;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal {
  width: auto;
  margin: 30px auto;
  display: inline-block;
  color: #232323;
}
.card-header {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
}
.modal-body,.modal-header,.modal-footer {
  background-color: #414141;
  color: #FFF0EA;
}
.card-input {
  padding: 10px;
  border-radius: 6px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  border: 1px solid #414141;
}
.page-header {
 color: #FFF0EA;
 font-family: 'Exo 2', sans-serif;
 font-weight: bold;
 text-align: center;
}
.normal {
  color: #FFF0EA;
  font-family: 'Exo 2', sans-serif;
  font-weight:400;
}
.thin {
  color: #FFF0EA;
  font-family: 'Exo 2', sans-serif;
  font-weight:200;  
}
.page {
  background-color: #414141 !important;
  min-height: 100% !important;
}
.responsiveImage {
  display: block;
  width: 100%;
  max-height: 100%
}
.btn-apex {
  color: #9A4147;
  background-color: #FFF0EA;
  border: 1px solid #9A4147;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  font-family: 'Exo 2', sans-serif;
  font-weight:400;
}
.btn-apex:hover,
.btn-apex:active,
.btn-apex.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #993339;
  color: #ffffff;
  border-color: #993339;
}
.light {
  border: 1px solid #E3995A;
  box-shadow: 4px 4px 4px 4px #E3995A;
}
.energy {
  border: 1px solid #BFC772;
  box-shadow: 4px 4px 4px 4px #BFC772;
}
.heavy {
  border: 1px solid #7BBCA8;
  box-shadow: 4px 4px 4px 4px #7BBCA8;
}
.shotgun {
  border: 1px solid #CA5F47;
  box-shadow: 4px 4px 4px 4px #CA5F47;
}
.sniper {
  border: 1px solid #3C33A6;
  box-shadow: 4px 4px 4px 4px #3C33A6;
}
.special {
  border: 1px solid #EA5489;
  box-shadow: 4px 4px 4px 4px #EA5489;
}
.grid-item {
  margin: 20px 20px 20px 20px;
  padding: 10px 10px;
  border-radius: 6px;
  text-align: center;
}
.apex-nav {
background-color: #232323;
margin: 0px auto;
padding: 0px;
font-family: 'Exo 2', sans-serif;
font-weight:200;
}
.apex-input {
  font-family: 'Exo 2', sans-serif;
  font-weight:200;
  color: #FFF0EA;
  margin: 20px;
}
.nav-opts {
  color: #FFF0EA;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  padding: 0px 0px 0px 0px;
  border-width: 0px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-content:  center;
  align-items:  center;
}
.weapon-image {
 width: 150px;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }
}

@media screen and (max-width: 380px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(29, 1fr);
  }
}

button.hidden {
  display: none;
}

button.visible {
  display: '';
}

#profile-picture-div {
  display: inline-block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

#profile-wrapper {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  border-radius: 50%;
  border: solid;
}
=======
}

/* https://stackoverflow.com/questions/32477563/how-can-i-fit-images-into-circles-without-stretching */
.center {
  text-align: center;
}
.margin {
  margin: 10px 42px 10px 42px;
}
.smaller-margin {
  margin: 10px 20px 10px 20px;
}
.underline {
  text-decoration: underline;
}
.profile-pic {
  border-radius: 20px;
  border: 2px solid #232323;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.center-align {
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
}

.margin-ten {
  margin: 10px;
}

>>>>>>> 8964ae60a433d041851c2371bfc320d8fca6b4ea
